html, body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display:flex;
    background: rgb(235, 232, 232);
}
nav li{
    list-style: none;
    padding: 0 23px;
}
