html, body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display:flex;
    background: rgb(142, 109, 109);
}
nav li{
    list-style: none;
    padding: 0 23px;
}
